{% extends 'base.html' %}

<title>Приветствуем!</title>

{% block styles %}
    {{ super() }}
    <style>
        h2 {
            margin-top: 50px;
            padding: 10px;
            text-align: center;
            z-index: 10;
        }

        h3 {
            padding: 10px;
            text-align: center;
            z-index: 10;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Добро пожаловать!</h2>
    <h3>Именно здесь вы можете поиграть в классический техасский холдем.</h3>
    <h3>Для начала своей первой невероятно увлекательной игры необходимо зарегистрироваться.</h3>
{% endblock %}